@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
html,body,#page {
  height: 100%;
}
body {
  margin: 0;
  font-size: 3em;
  font-size: 5vw;
  line-height: 1.2;
  font-family: 'Love Ya Like A Sister', cursive;
}
#page {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#content {
  padding: 7%;
}
cite {
  font-size: .7em;
  display: block;
  text-align: right;
}
blockquote{
  margin: 0;
  padding: 0;
}
@media (max-width: 50rem) {
  body {
    font-size: 2.5rem !important;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
