{%- assign cache_buster = '?v=' | append: site.github.build_revision -%}
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,maximum-scale=2">
<title>{{ page.title }} | {{ site.title }}</title>
<link rel="stylesheet" href="{{'/assets/css/style.css' | append: cache_buster | relative_url }}">
{%- if page.style %}
<link rel="stylesheet" href="{{ '/assets/css/' | append: page.style | append: cache_buster | relative_url }}"/>
{% endif -%}
<link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/favicon/apple-touch-icon.png' | append: cache_buster | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/favicon/favicon-32x32.png' | append: cache_buster | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/favicon/favicon-16x16.png' | append: cache_buster | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | append: cache_buster | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | append: cache_buster | relative_url }}" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
