{%- assign description = site.description %}
{%- if page.description %}
{%- assign description = page.description %}
{%- endif %}
<div id="skip">
  <a href="#sidebar">Skip to navigation</a>
  <a href="#main-content">Skip to main content</a>
</div>
<section id="sidebar" aria-expanded="false" tabindex="0" aria-label="sidebar">
<div class="about">
<div class="description">{{ description | markdownify }}</div>
{%- if page.layout == 'quote' %}
<div class="action"><em><span class="count"></span> {{ site.fortune.action }}</em></div>
{%- endif %}
</div>
<nav aria-label="{{ site.data.navigation.title }}" tabindex="-1">
<ul>
{%- for item in site.data.navigation.pages %}
{%- assign current = '' %}
{%- assign class = '' %}
{%- if page.permalink == item.url %}
{%- assign current = ' <span class="visually-hidden">current page,</span>' %}
{%- assign class = 'class="active"' %}
{%- endif %}
<li><a href="{{ item.url }}"{{ class }}>{{ item.title }} {{ current }}</a></li>
{%- endfor %}
</ul>
</nav>
</section>
<button id="refresh" aria-label="get a new quote" class="ui-delay-load">
  <img src="{{'/assets/images/refresh.svg' | append: cache_buster | relative_url }}" width="20" height="20"/>
</button>
<button id="toggle" aria-label="toggle sidebar" class="ui-delay-load">
<img src="{{'/assets/images/logo-fortune.svg' | append: cache_buster | relative_url }}" width="20" height="20"/>
</button>
